<%= form_for(substate) do |f| %>
  <% if substate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(substate.errors.count, "error") %> prohibited this substate from being saved:</h2>

      <ul>
      <% substate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :state_id %>
    <%= f.number_field :state_id %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.number_field :project_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
