<p id="notice"><%= notice %></p>

<h1>Substates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @substates.each do |substate| %>
      <tr>
        <td><%= substate.name %></td>
        <td><%= substate.state_id %></td>
        <td><%= substate.project_id %></td>
        <td><%= link_to 'Show', substate %></td>
        <td><%= link_to 'Edit', edit_substate_path(substate) %></td>
        <td><%= link_to 'Destroy', substate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Substate', new_substate_path %>
