<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @substate.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @substate.state_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @substate.project_id %>
</p>

<%= link_to 'Edit', edit_substate_path(@substate) %> |
<%= link_to 'Back', substates_path %>
