<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituency.title %>
</p>


<%= link_to 'Edit', edit_constituency_path(@constituency) %> |
<%= link_to 'Back', constituencies_path %>
