<!-- <div id="map"></div> -->






<section class="row" style="margin-top: 10px; height: 100%;">
    <div class="col-2" style="height: calc(100% - 30px);">
      <h1 class="s-title">Constituency</h1>

      <ul class="s-ul">
        <li><a href="#">sdsds</a></li>
        <li><a href="#">sdsds</a></li>
        <li><a href="#">sdsds</a></li>
        <li><a href="#">sdsds</a></li>
        <li><a href="#">sdsds</a></li>


      </ul>
    </div>
    <div class="col-2" style="height: calc(100% - 30px);">
      <h1 class="s-title">Projects</h1>
    </div>

    <div class="col-6" style="height: calc(100% - 60px);">
      <h1 class="s-title">Map</h1>
      <div id="map"></div>
    </div>

    <div class="col-2" style="height: calc(100% - 30px);">
      <h1 class="s-title">Representatives</h1>
    </div>
