html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  .topper {
    @include position(absolute, 0 0 0 0);
    width: 100%;
    height: 2px;
    background: url('rainbow.png');
    z-index: 99999;
  }
}




$brand-color: #009688;
$warm-bg: #EFEDE8;



.btn-hit {
  background: darken($warm-bg, 70);
  color: darken(#fff, 1);
  border: none;
  height: 36px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; /* !important tags aren't necessarily always bad */

  &:hover {
    color: white;
  }
}

.btn-mega {
  background: $brand-color;
  color: darken(#fff, 1);
  border: none;
  display: block;
  //text-transform: uppercase;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; /* !important tags aren't necessarily always bad */
}
.btn-mega:hover, .btn-yellow:focus {
  background: darken($brand-color, 8);
  color: darken(#fff, 10);
}
.btn-mega:active {
  background: darken($brand-color, 10);
  color: darken(#fff, 5);
}

.btn-xxl {
  padding: 19px 36px 18px;
  font-size: 13px;
  letter-spacing: 0.4px;
  border-radius: 2px;
}



.sidebar {
  position: relative;
  height: 100%;
  background: rgba(0,0,0,.1);
  background: $warm-bg;
  float: left;
  width: 220px;
  border-right: 1px solid rgba(0,0,0,.05);

  .menu {
    padding: 20px;
    margin: 0;
    list-style: none;

    li {
      display: block;

      .link {
        color: rgba(0,0,0,.6);
        font-size: 12px;
        letter-spacing: 0.4px;
        font-weight: 600;
        padding: 4px 0 4px 6px;
        margin-bottom: 6px;
        display: block;
        border-left: 2px solid transparent;
        transition: all .3s ease;

        &:hover {
          text-decoration: none;
          color: rgba(0,0,0,.8);
          border-left: 2px solid $brand-color;
        }
      }
    }
  }

  .logo {
    padding: 30px 0 25px;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: auto;
    text-align: center;


    img {
      max-width: 100px;
    }

  }

  .footer {
    @include position(absolute, nil 0 0 0);
    width: 100%;
    min-height: 160px;
    padding: 14px;
    text-align: center;

    .copy {
      font-size: 11px;
      color: rgba(0,0,0,.4);
      margin-top: 6px;

      &.links {
        color: rgba(0,0,0,.6);
      }
    }
  }
}







.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;

  .header {
    margin-left: -20px;
    margin-top: -20px;
    height: 50px;
    width: calc(100% + 40px);
    padding: 6px 20px 0;
    background: $warm-bg;
  }
}



.s {
  &-title {
    background: darken($warm-bg, 10);
    height: 30px;
    line-height: 30px;
    color: darken($warm-bg, 70);
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid rgba(darken($warm-bg, 10), 0.3);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &-ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid rgba(black, 0.1);

      a {
        font-size: 12px;
        color: darken($warm-bg, 50) !important;
      }
    }
  }
}
