<!DOCTYPE html>
<html>
  <head>
    <title>Genti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
    <div class="topper"></div>





    <aside class="sidebar" id="sidebar" data-turbolinks-permanent>
      <div class="logo"><%= image_tag('logo') %></div>
      <ul class="menu">
        <li style="margin-bottom: 20px;">
          <a href="#" class="btn btn-mega btn-xxl">Projects</a>
        </li>

        <li><a class="link" href="#">Representative</a></li>
        <li><a class="link" href="#">Current Projects</a></li>
        <li><a class="link" href="#">Abandoned Projects</a></li>
        <li><a class="link" href="#">home</a></li>
        <li><a class="link" href="#">home</a></li>
      </ul>
    <footer class="footer">
      <div class="row" style="margin-bottom: 14px;">
        <div class="col-3"><%= fa_icon "facebook" %></div>
        <div class="col-3"><%= fa_icon "twitter" %></div>
        <div class="col-3"><%= fa_icon "google-plus" %></div>
        <div class="col-3"><%= fa_icon "github" %></div>
      </div>
      <div class="copy">&copy; 2017 MOJA Open Project</div>
      <div class="copy links">Terms of Use</div>
      <div class="copy links">Privacy Policy - About Us</div>
    </footer>
    </aside>









  <style type="text/css">

      /* Set a size for our map container, the Google Map will take up 100% of this container */
      #map {
          width: 100%;
          height: 100%;
      }
  </style>

  <script type="text/javascript">
      // When the window has finished loading create our google map below
      google.maps.event.addDomListener(window, 'load', init);

      function init() {
          // Basic options for a simple Google Map
          // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
          var mapOptions = {
              // How zoomed in you want the map to start at (always required)
              zoom: 11,

              // The latitude and longitude to center the map (always required)
              center: new google.maps.LatLng(40.6700, -73.9400), // New York

              // How you would like to style the map.
              // This is where you would paste any style found on Snazzy Maps.
              styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"weight":"2.00"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"color":"#9c9c9c"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#eeeeee"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#7b7b7b"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#c8d7d4"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#070707"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]}]
          };

          // Get the HTML DOM element that will contain your map
          // We are using a div with id="map" seen below in the <body>
          var mapElement = document.getElementById('map');

          // Create the Google Map using our element and options defined above
          var map = new google.maps.Map(mapElement, mapOptions);

          // Let's also add a marker while we're at it
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(40.6700, -73.9400),
              map: map,
              title: 'Snazzy!'
          });
      }
  </script>



  <main class="main" id="main" data-turbolinks-temporary>
  <header class="header">

    <section class="row">


  <form class="" method="get" style="    display: inherit;
      width: 100%;">
      <div class="col-3">


        <select name="state" id="state" class="ui search dropdown">
                      <option value="" selected="selected">- Select your state -</option>
                      <option value="Abuja FCT">Abuja FCT</option>
                      <option value="Abia">Abia</option>
                      <option value="Adamawa">Adamawa</option>
                      <option value="Akwa Ibom">Akwa Ibom</option>
                      <option value="Anambra">Anambra</option>
                      <option value="Bauchi">Bauchi</option>
                      <option value="Bayelsa">Bayelsa</option>
                      <option value="Benue">Benue</option>
                      <option value="Borno">Borno</option>
                      <option value="Cross River">Cross River</option>
                      <option value="Delta">Delta</option>
                      <option value="Ebonyi">Ebonyi</option>
                      <option value="Edo">Edo</option>
                      <option value="Ekiti">Ekiti</option>
                      <option value="Enugu">Enugu</option>
                      <option value="Gombe">Gombe</option>
                      <option value="Imo">Imo</option>
                      <option value="Jigawa">Jigawa</option>
                      <option value="Kaduna">Kaduna</option>
                      <option value="Kano">Kano</option>
                      <option value="Katsina">Katsina</option>
                      <option value="Kebbi">Kebbi</option>
                      <option value="Kogi">Kogi</option>
                      <option value="Kwara">Kwara</option>
                      <option value="Lagos">Lagos</option>
                      <option value="Nassarawa">Nassarawa</option>
                      <option value="Niger">Niger</option>
                      <option value="Ogun">Ogun</option>
                      <option value="Ondo">Ondo</option>
                      <option value="Osun">Osun</option>
                      <option value="Oyo">Oyo</option>
                      <option value="Plateau">Plateau</option>
                      <option value="Rivers">Rivers</option>
                      <option value="Sokoto">Sokoto</option>
                      <option value="Taraba">Taraba</option>
                      <option value="Yobe">Yobe</option>
                      <option value="Zamfara">Zamfara</option>
             <option value="Outside Nigeria">Outside Nigeria</option>
            </select>


      </div>

      <div class="col-3">
        <input type="submit" name="Search" value="Search" class="btn btn-hit">
      </div>
  </form>


  </section>

  </header>





    <%= yield %>

    </section>
    </main>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'semantic.min', 'data-turbolinks-track': 'reload' %>
    <script>

      $(document).ready(function () {
        $('.ui.dropdown').dropdown();
      });
    </script>
  </body>
</html>
